#container1{
    height: 600px;
}
.logo{

    position: absolute;
    top: 20px;
    left: 100px;
    cursor:pointer;
}
  .expand{
      
      position: absolute;
      top: 20px;
      right: 100px;
      cursor:pointer;
  }
   .fa-search{
    position: absolute;
    top: 30px;
    right: 170px;
    cursor:pointer;
    color:white;
    width: 20px;
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 18%;
    transform: translate(-50%, -50%);
    color:white;
  }
  .font1{
    font-family:'Arial', Helvetica, sans-serif;
    font-weight:bolder;
    color: rgb(255, 250, 250);
    
}
  .info {
    border-color: #2196F3;
    color: dodgerblue
  } 
  .btn {
    position: relative;
    top: 40px;
    background-color: rgb(80, 11, 170);
    color: rgb(255, 255, 255);
    padding: 15px 58px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 25px;
  }
  .info:hover {
    background: #2196F3;
    color: white;
  }
   .fa-arrow-right{
    position: absolute;
    width: 80px;
    color:white;

  }

#container2{
    height: 200px;
    margin-top: 180px;
    margin-left: 360px;
}
.fa-envelope{
    position:relative;
    width: 50px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    
    
      
  }

  .underline{
      margin-top:30px;
      color:red;
  }

  /*.......ROUND BUTTON.......*/
  .round-button {
    width:8%;
    float:right;
    position: relative;
    right: 350px;
    margin-bottom: 0px;
    bottom: 150px;
  }
  .round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    background: rgb(106, 17, 189); 
    
  }

  .fade {
    opacity: 5;
  }
#container3{
    height: 400px;
    margin-top: 180px;
    margin-left: 200px;
}
.Tmobile{
    margin-left: 0px;
    float: left;
    margin-top: 28px;
    height: 250px;
    width: 50%;
}
  .TmobileInfo{
    position: relative;
    right: 350px;
    margin-bottom: 0px;
    bottom: 700px;
    left: 20px;
    top: 34px;
  }
  .font2{
    font-family:'Arial', Helvetica, sans-serif;
    font-weight:bolder;
    color: rgb(58, 55, 55);
    margin-left: 300px;
  }
  .btn2{
    top: 40px;
    border: 1px solid rgb(181, 1, 252);
    background-color: none;
    color: blue;
    padding: 15px 58px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 25px;
  }
  .btn2:hover {
    background: rgb(156, 0, 247);
    color: white;
  }

  #container4{
    height: 400px;
    margin-top: 180px;
    margin-left: 200px;
  }
  .AudiPic{
    position: relative;
    margin-top: 28px;
    height: 250px;
    left: 515px;
    bottom: 300px;
    width: 50%;
    margin-left: 30px;
  }

  .AudiInfo{
    float:left;
    right: 350px;
    margin-bottom: 0px;
    bottom: 700px;
    left:100px;
    top: 34px;
  }
  #container5{
    height: 450px;
    margin-top: 180px;
    margin-left: 200px;
}
.Alaska{
    margin-left: 0px;
    float: left;
    margin-top: 28px;
    height: 250px;
    width: 500px;
}
  .AlaskaInfo{
    position: relative;
    right: 350px;
    margin-bottom: 0px;
    bottom: 700px;
    left:20px;
    top: 34px;
  }
#container6{
    height: 200px;
}
.btn3{
    top: 40px;
    border: 1px solid rgb(181, 1, 252);
    background-color: rgb(80, 11, 170);
    color: rgb(255, 255, 255);
    padding: 15px 58px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 400px;
}
#container7{

    height: 700px;
}
.brands{
    width: 800px;
    margin-left: 300px;
    margin-top: 30px;
}